@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --gradient-colors: linear-gradient(
    135deg,
    #ac65e3 0%,
    #e38ab6 45%,
    #ffb963 90%
  );
  --square-size: 0.1vw;
  /* --gradient-height: calc(100vh+50px); */
}

/* #46529800 calc(95 * var(--square-size)) */

html {
  font-family: "Poppins", sans-serif;
  /* font-size: 28px; */
}

.gradientBackground {
  min-height: calc(100vh + 50px);
  z-index:0;
  background: var(--gradient-colors),
    repeating-linear-gradient(
      to right,
      white,
      white 1px,
      #46529800 1px,
      #46529800 clamp(80px, calc(95 * var(--square-size)), 93px)
    ),
    repeating-linear-gradient(
      to bottom,
      white,
      white 1px,
      #46529800 1px,
      /* #46529800 calc(95 * var(--square-size)) */ #46529800
        clamp(80px, calc(95 * var(--square-size)), 93px)
    );

  background-blend-mode: overlay;
}

/* overlay gradient */
.gradientBackground:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: calc(100vh + 50px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) calc(100vh - 25px),
    rgba(255, 255, 255, 1) 100%
  );
}

/* 


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

*/
