@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-colors: linear-gradient(
    135deg,
    #ac65e3 0%,
    #e38ab6 45%,
    #ffb963 90%
  );
  --square-size: 0.1vw;
  --decagon-width: 100px;
}

html {
}

.homeMainGradientGridBackground {
  z-index: 0;
  background: var(--gradient-colors),
    repeating-linear-gradient(
      to right,
      white,
      white 1px,
      #46529800 1px,
      #46529800 clamp(80px, calc(95 * var(--square-size)), 93px)
    ),
    repeating-linear-gradient(
      to bottom,
      white,
      white 1px,
      #46529800 1px,
      /* #46529800 calc(95 * var(--square-size)) */ #46529800
        clamp(80px, calc(95 * var(--square-size)), 93px)
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) calc(100vh - 25px),
      rgba(255, 255, 255, 1) 100%
    );
  background-blend-mode: overlay;
}

.homeMainGradientBackground {
  z-index: 0;
  background: var(--gradient-colors),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) calc(100vh - 25px),
      rgba(255, 255, 255, 1) 100%
    );
  background-blend-mode: overlay;
}

.gradientGridBackground {
  z-index: 0;
  background: var(--gradient-colors),
    repeating-linear-gradient(
      to right,
      white,
      white 1px,
      #46529800 1px,
      #46529800 clamp(80px, calc(95 * var(--square-size)), 93px)
    ),
    repeating-linear-gradient(
      to bottom,
      white,
      white 1px,
      #46529800 1px,
      /* #46529800 calc(95 * var(--square-size)) */ #46529800
        clamp(80px, calc(95 * var(--square-size)), 93px)
    );
  background-blend-mode: overlay;
}

.gradientBackground {
  z-index: 0;
  background: var(--gradient-colors);
  background-blend-mode: overlay;
}

/*  Override default Swiper parameters in 'AboutUs' component in about page*/
.AboutUsSwiperOverride {
  --swiper-pagination-color: #c594eb;
  --swiper-pagination-bullet-inactive-color: #e9dede;
  --swiper-pagination-bullet-inactive-opacity: 0.9;
  --swiper-pagination-bullet-width: 1.5rem;
  --swiper-pagination-bullet-height: 0.4rem;
  .swiper-pagination-bullet {
    border-radius: 0.2rem;
  }
  --swiper-navigation-color: white;
  --swiper-navigation-size: 22px;
  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 50%; /* Makes the shape a circle */
    --swiper-navigation-size: 18px;
    width: 30px;
    height: 30px;
    @media (min-width: 768px) {
      --swiper-navigation-size: 20px;
      width: 44px;
      height: 44px;
    }
    display: flex; /* To center the arrow icon */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #0569ff;
    backdrop-filter: blur(1px);
  }
}

/*  Override default Swiper parameters in 'WhyJoin' component in about page*/
.SwiperNavigationOverride {
  --swiper-navigation-color: #e9dede;
  --swiper-navigation-size: 18px;

  --swiper-navigation-top-offset: 91%;
  --swiper-navigation-sides-offset: 46%;

  @media (min-width: 768px) {
    --swiper-navigation-size: 18px;
    --swiper-navigation-top-offset: 94%;
    --swiper-navigation-sides-offset: 47%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 50%; /* Makes the shape a circle */
    width: 32px;
    height: 32px;
    display: flex; /* To center the arrow icon */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
  }
}

/*  Override default Swiper parameters in 'DaySchedule' component in Schedule page*/
.SwiperScheduleNavigation {
  --swiper-navigation-size: 35px;
  --swiper-navigation-top-offset: 1%;
  --swiper-navigation-sides-offset: 1%;
}

/* #46529800 calc(95 * var(--square-size)) */

.decagon {
  width: var(--decagon-width);
  /* height: calc(var(-- decagon-width) * 1.08);  */
  /* padding-top: calc(var(--decagon-width) * 1.08); Aspect ratio: 10:10.8 */
  height: 100px;
  /* Aspect ratio: 10:10.8  */
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.bobbing-animation-1 {
  animation: bobbing 4s ease-in-out infinite;
}

.bobbing-animation-2 {
  animation: bobbing 3.5s ease-in-out infinite;
}
.bobbing-animation-3 {
  animation: bobbing 3s ease-in-out infinite;
}
.bobbing-animation-4 {
  animation: bobbing 2.5s ease-in-out infinite;
}
.bobbing-animation-5 {
  animation: bobbing 2s ease-in-out infinite;
}

/* Popup styles in Schedule page */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-content {
  margin: auto;
  background: rgba(0, 0, 0, 0);
  width: 95%;
  padding: 5px;
  animation: fadeIn 0.5s ease-in-out;
}

@media (min-width: 640px) {
  .popup-content {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .popup-content {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    width: 50%;
  }
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
